* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", serif;
  border: none;
}

body {
  position: relative;
}

.header-desktop,
.mobile-nav-links,
.mobile-close-bar,
.desktop-bg-into {
  display: none;
}

.header-mobile,
.header-desktop {
  padding: 2rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9999999;
}
.mockup {
  position: relative;
  width: 100%;
  top: -5rem;
}

.intro-mobile {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-inline: auto;
  display: block;
  z-index: -1;
}

main {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}

.main-details {
  padding: 2rem;
}

h1 {
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
  color: hsl(233, 26%, 24%);
}

p,
h6,
h4 {
  color: hsl(233, 8%, 62%);
  line-height: 1.5rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  color: #fff;
  border: none;
  margin-top: 2rem;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

.page-2 {
  margin-top: 5rem;
  padding: 2rem;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  padding-block: 4rem;
}

.page-2 h2 {
  margin-bottom: 1.5rem;
}

h2,
h3 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.online-banking,
.simple-budgeting,
.fast-onboarding,
.open-api,
.online-banking img,
.simple-budgeting img,
.fast-onboarding img,
.open-api img,
.online-banking h3,
.simple-budgeting h3,
.fast-onboarding h3,
.open-api h3 {
  margin-block: 1.5rem;
}

.page-3 {
  padding: 2rem;
}

.page-3 img {
  width: 100%;
}

.page-3 h6,
.page-3 h4,
.page-3 p {
  text-align: left;
}

.claire,
.wilson,
.hutton,
.robinson {
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 2rem;
}

.claire-description,
.wilson-description,
.hutton-description,
.robinson-description {
  padding: 2rem;
  color: rgb(243, 244, 246);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(243, 244, 246, 0.2),
    0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.claire img,
.wilson img,
.hutton img,
.robinson img {
  border-radius: 1rem 1rem 0 0;
}

.article {
  /* padding: 2rem; */
  text-align: left;
}

.page-3 h2 {
  margin: 2rem;
}

footer {
  background-color: #2d314d;
  /* display: grid; */
  padding: 2rem;
  /* justify-items: center; */
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block-start: 2rem;
}

button {
  cursor: pointer;
}

.footer-logo-img {
  display: block;
  margin-inline: auto;
  color: #fff;
}

.footer-internal-links {
  margin-block: 3rem;
}

.footer-internal-links a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  display: block;
  text-align: center;
  margin: 1rem;
}

.footer-copyright button,
.footer-copyright p {
  /* flex-direction: column; */
  display: block;
  margin-inline: auto;
  margin-block: 2rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #2d314d;
  padding: 2rem;
}
.attribution a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
}

.attribution a:hover {
  font-size: larger;
}

.background-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2d314d;
  position: fixed;
  z-index: 2;
  opacity: 0.5;
  display: none;
  /* display: block; */
}

.desktop-mockup {
  display: none;
}

.mobile-nav-links {
  position: absolute;
  width: 90%;
  padding: 2rem;
  border-radius: 0.5rem;
  /* display: block; */
  z-index: 300;
  background-color: hsl(0, 0%, 98%);
  top: 7rem;
  position: fixed;
  margin-inline: auto;
  left: 0;
  right: 0;
}

/* .mobile-nav-bar {
  display: none;
} */

.mobile-nav-links a {
  text-decoration: none;
  color: #2d314d;
  display: block;
  margin: 2rem;
  text-align: center;
  font-weight: 700;
}

.header-desktop {
  padding: 0;
  display: none;
}

.header-desktop button {
  margin: 0;
}

.header-desktop a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}

.header-desktop img,
.header-desktop a,
.header-desktop button {
  margin: 0;
}

.footer-internal-links a:hover,
.socials a:hover {
  color: hsl(136, 65%, 51%);
  /* background-color: red; */
  fill: hsl(136, 65%, 51%);
}

button:hover {
  background-image: linear-gradient(
    to right,
    hsl(136, 74%, 83%),
    hsl(192, 71%, 77%)
  );
}

@media screen and (min-width: 1006px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
    display: flex;
    padding: 1rem;
  }

  .header-desktop {
    padding-inline: 3rem;
  }

  .header-desktop .nav {
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
  }

  .header-desktop a {
    margin-inline: 1rem;
  }

  .header-desktop a:hover {
    padding-bottom: 1rem;
    border-bottom: solid hsl(136, 65%, 51%) 3px;
  }

  .desktop-front-page {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 3fr;
    /* align-content: center; */
    height: 100vh;
  }

  .desktop-bg-into {
    display: block;
  }

  .desktop-open-bg {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .intro-mobile,
  .mockup {
    display: none;
  }

  .desktop-bg-into {
    position: absolute;
    overflow: hidden;
    right: -40%;
    top: -8rem;
    z-index: -1;
    height: 70%;
  }

  .desktop-mockup {
    position: absolute;
    height: 80vh;
    right: -4rem;
    top: -3.5rem;
  }

  .main-details {
    text-align: left;
    /* padding: 4rem; */
    width: 30rem;
    display: grid;
    align-content: center;
  }

  .main-details h1 {
    text-align: left;
    /* line-height: 2rem; */
  }

  .page-2 {
    text-align: left;
  }

  .page-2-sections {
    display: flex;
    gap: 1rem;
  }

  .easybank {
    width: 60%;
    margin-block: 2rem;
  }

  .page-3 {
    text-align: left;
  }

  .page-3 h2 {
    margin: 0;
  }

  .latest-article-divs {
    display: flex;
    gap: 1rem;
  }

  .page-3 h2 {
    margin-block: 2rem;
  }

  .claire-description,
  .wilson-description,
  .hutton-description,
  .robinson-description {
    padding: 0.7rem;
    border-radius: 0 0 0.4rem 0.4rem;
    height: 60%;
  }

  .claire img,
  .wilson img,
  .hutton img,
  .robinson img {
    border-radius: 0.4rem 0.4rem 0 0;
    height: 40%;
  }

  footer {
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .footer-internal-links {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-left: 2rem;
  }

  .footer-internal-links a {
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .desktop-mockup {
    display: block;
  }
}
